<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wq.andoidlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".dagger.demo4.app.ScopeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pattern.adapter.PatternDemo1Activity"></activity>
        <activity android:name=".pattern.PatternMainActivity" />
        <activity android:name=".rxjava.demo11.RxJavaDemo11Activity" />
        <activity android:name=".rxjava.demo10.RxJavaDemo10Activity" />
        <activity android:name=".rxjava.RxJavaDemo9Activity" />
        <activity android:name=".rxjava.RxJavaDemo8Activity" />
        <activity android:name=".rxjava.RxJavaDemo7Activity" />
        <activity android:name=".rxjava.RxJavaDemo6Activity" />
        <activity android:name=".rxjava.RxJavaDemo5Activity" />
        <activity android:name=".rxjava.demo4.RxJavaDemo4Activity" />
        <activity android:name=".rxjava.RxJavaDemo3Activity" />
        <activity android:name=".rxjava.RxJavaDemo2Activity" />
        <activity android:name=".rxjava.RxJavaDemoMainActivity" />
        <activity android:name=".rxjava.RxJavaDemo1Activity" />
        <activity android:name=".dagger.demo3.DaggerDemo3Activity" />
        <activity android:name=".dagger.demo2.DaggerDemo2Activity" />
        <activity android:name=".dagger.DaggerMainActivity" />
        <activity android:name=".dagger.demo1.DaggerDemo1Activity" />
        <activity android:name=".materialdesign.snackbar.SnackBarActivity" />
        <activity android:name=".materialdesign.bottom.BottomBarActivity" />
        <activity android:name=".materialdesign.tablayout.TabLayout2Activity" />
        <activity android:name=".materialdesign.tablayout.TabLayoutMainActivity" />
        <activity android:name=".materialdesign.tablayout.TabLayoutActivity" />
        <activity android:name=".materialdesign.textinputlayout.TextInputLayoutActivity" />
        <activity android:name=".materialdesign.drawer.DrawerLayoutActivity" />
        <activity android:name=".materialdesign.floating.FloatingButton4Activity" />
        <activity android:name=".materialdesign.floating.FloatingButton3Activity" />
        <activity android:name=".materialdesign.floating.FloatingButton2Activity" />
        <activity android:name=".materialdesign.floating.FABMainActivity" />
        <activity android:name=".materialdesign.bottomsheet.BottomSheetDialog4Activity" />
        <activity android:name=".materialdesign.bottomsheet.BottomSheetDialog3Activity" />
        <activity android:name=".materialdesign.bottomsheet.BottomSheetDialog2Activity" />
        <activity android:name=".materialdesign.bottomsheet.BottomSheetMainActivity" />
        <activity android:name=".materialdesign.bottomsheet.BottomSheetDialog1Activity" />
        <activity android:name=".materialdesign.behavior.demo2.Behavior2Activity" />
        <activity android:name=".materialdesign.behavior.BehaviorMainActivity" />
        <activity android:name=".materialdesign.behavior.demo1.Behavior1Activity" />
        <activity android:name=".materialdesign.floating.FloatingButtonActivity" />
        <activity android:name=".materialdesign.nested.demo2.Demo2Activity" />
        <activity android:name=".materialdesign.nested.NestedDemosActivity" />
        <activity android:name=".materialdesign.nested.demo1.Demo1Activity" />
        <activity android:name=".materialdesign.titlebar.TitleBarActivity" />
        <activity android:name=".materialdesign.MainMaterialActivity" />
        <activity android:name=".materialdesign.appbar.AppBarLayoutActivity" />
        <activity android:name=".materialdesign.nestedscrollview.NestedScrollViewActivity" />
        <activity android:name=".materialdesign.recycler.RecyclerViewActivity" />
        <activity android:name=".materialdesign.nested.NestedScrollActivity" />
        <activity android:name=".materialdesign.behavior.demo3.BehaviorActivity" />
        <activity android:name=".status.StatusBarActivity1" />
        <activity android:name=".dagger.demo4.activity.ScopeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>